# AWS CDK files
cdk.out/

# AWS SAM
.aws-sam/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.venv/
node_modules/

# macOS files
.DS_Store

# PyCharm files
.idea/

# pyenv
.python-version
